# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Python virtual environments
venv/
env/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables file
.env

# IDE files
.idea/
.vscode/

# Logs
*.log

# Caches
*.cache

# Compiled files
*.pyc
*.pyo
*.pyd

# Python package tarballs
*.egg
*.egg-info
dist/
build/
eggs/

# Ignore .toml files
*.toml

# Ignore examples.json
examples.json
